.dataBox {
    border-right: 2vw white solid;
    scroll-behavior: smooth;
    overflow-y: auto;
    height: 40vh;
    padding-top: 0px !important;
    padding:0px !important;
    border-radius: 5px;
}

thead {
    height: 0.2vh;
}

.dataBox thead th {
    position: sticky;
    top: 0;
    background-color: #0064c8;
}

.MuiTableCell-root {
    padding: 1vw !important; 
}

.firstRow {
    padding-top: 2vh !important;
    padding-left: 80px !important;
    padding-right: 80px !important;
}

h4{
    color: white;
}

.dataBox {
    background-color: #0e8ee940 !important;
}

.rankColumn {
    width: 10%;
}

.secondRow {
    padding-top: 5vh !important;
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.dataBox::-webkit-scrollbar {
    width: 1em;
}
 
.dataBox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
 
.dataBox::-webkit-scrollbar-thumb {
  background-color: #0e8ee940;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

p {
    margin:0;
    font-size: 1vw;
}

h4 {
    margin: 0;
    font-size: 1vw;
}

.MuiTableRow-root {
    border-bottom:solid 2px #0e8ee917;
}

.heading {
    padding: 3vh 0 0 4vh;
    text-align: left;
    color: #0064c8;
}
